@model GameRentalApp.Models.PCGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PCGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvailableCopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCopies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImgUrl)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Rent", "Rent", new { id = Model.PCID }) |
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.PCID }) @Html.Raw("|")
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
